<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <script type="text/javascript" src="/scripts.js"></script>
    <title></title>
</head>
<body>
<nav class="navbar d-flex bg-dark" data-bs-theme="dark" style="color: white">
    <div class="container-fluid justify-content-start">
        <span class="navbar-brand flex-grow-1 me-1 user-info">
        </span>
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" class="btn btn-outline-secondary" value="Logout"/>
        </form>
    </div>
</nav>
<div class="d-flex">
    <aside class="container-fluid min-vh-100" style="width: 15%">
        <br>
        <ul class="nav nav-pills flex-column" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active"
                        onclick="fillUsersTable()"
                        id="admin-home-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#admin-home"
                        type="button"
                        role="tab"
                        aria-controls="admin-home"
                        aria-selected="true"
                        style="width: 100%">
                    Admin
                </button>
            </li>
            <li class="nav-item" role="presentation" style="width: 100%">
                <button class="nav-link"
                        onclick="fillUserTable()"
                        id="user-home-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#user-home"
                        type="button"
                        role="tab"
                        aria-controls="user-home"
                        aria-selected="true"
                        style="width: 100%">
                    User
                </button>
            </li>
        </ul>
    </aside>
    <main class="container-fluid bg-body-tertiary">
        <br>
        <div class="tab-content" id="pills-tabContent">
            <!-- страница админа -->
            <div class="tab-pane fade show active container"
                 id="admin-home"
                 role="tabpanel"
                 aria-labelledby="admin-home-tab"
                 tabindex="0">
                <h1>Admin panel</h1>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active"
                                id="table-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#table-tab-pane"
                                type="button"
                                role="tab"
                                aria-controls="table-tab-pane"
                                aria-selected="true">
                            table
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link"
                                id="create-tab"
                                onclick="createUserForm()"
                                data-bs-toggle="tab"
                                data-bs-target="#create-tab-pane"
                                type="button"
                                role="tab"
                                aria-controls="create-tab-pane"
                                aria-selected="false">
                            create
                        </button>
                    </li>
                </ul>
                <div class="tab-content d-flex" style="background: white" id="myTabContent">
                    <!-- ТАБЛИЦА -->
                    <div class="tab-pane fade show active"
                         style="border: 1px solid rgb(222, 226, 230); border-radius: 5px; width: 100%"
                         id="table-tab-pane"
                         role="tabpanel"
                         aria-labelledby="table-tab"
                         tabindex="0">
                        <nav class="navbar bg-body-tertiary" >
                            <span class="navbar-brand ">
                                All users
                            </span>
                        </nav>
                        <!-- TODO: ЗАПОЛНИТЬ ТАБЛИЦУ С ПОМОЩЬЮ JS -->
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Roles</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody class="users-table">

                            </tbody>
                        </table>
                    </div>
                    <!-- ДОБАВЛЕНИЕ ЮЗЕРА -->
                    <div class="tab-pane fade justify-content-center container"
                         id="create-tab-pane"
                         role="tabpanel"
                         aria-labelledby="create-tab"
                         tabindex="0"
                         style="border: 1px solid rgb(222, 226, 230); border-radius: 5px">
                        <nav class="navbar bg-body-tertiary" >
                            <span class="navbar-brand ">
                                Add new user
                            </span>
                        </nav>
                        <br>
                        <!-- TODO: ДОБАВИТЬ ПОЛЬЗОВАТЕЛЯ С ПОМОЩЬЮ JS -->
                        <form class="createForm">
                            <div class="general">

                            </div>
                            <nav class="navbar">
                                <div class="container">
                                    <button type="submit" class="btn btn-primary" value="add">Add new user</button>
                                </div>
                            </nav>
                        </form>
                    </div>
                </div>
            </div>
            <!-- страница пользователя -->
            <div class="tab-pane fade container"
                 id="user-home"
                 role="tabpanel"
                 aria-labelledby="user-home-tab"
                 tabindex="0">
                <h1>User information-page</h1>
                <div class="d-flex" style="border: 1px solid rgb(222, 226, 230); border-radius: 5px; width: 100%; background: white">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">username</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody class="user-table">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- МОДАЛЬНОЕ ОКНО -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editModalLabel">Edit User</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="editForm">
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const editForm = document.querySelector(".editForm");
    editForm.addEventListener("submit", editSubmit);

    const createForm = document.querySelector(".createForm");
    createForm.addEventListener("submit", createSubmit);

    fillNavInfo();
    fillUsersTable();
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
</script>
</body>
</html>